SECRET_KEY= "Ueig_iOp3WYLB0I0_r1XWszbnIn_n6zf3X-tkA0yd6SBp6OAuOQ30fAcQlJSRfrbFqQ"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="projeto_db"
POSTGRES_USER="blog_user"
POSTGRES_PASSWORD="blog_psswd"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"